@model Eventdetails

@{
    ViewData["Title"] = "Details";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/img/event/@Model.Event.ImageUrl" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Event.Date.ToString("dd MMM")</h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Event.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.Event.StartTime - @Model.Event.EndTime</li>
                            <li><span>venue : </span>@Model.Event.Venue</li>
                        </ul>
                        <p>@Model.Description </p>
                        <p>@Model.SubDescription</p>
                        <p>@Model.Desc</p>
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (EventSpeakers es in Model.EventSpeakers)
                            {
                                <div class="single-speaker">
                                    <div class="speaker-img">
                                        <img src="~/img/event/@es.Speakers.SpeakerImageUrl" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>@es.Speakers.SpeakerName</h5>
                                        <p>@es.Speakers.SpeakerQualification</p>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                    @await Component.InvokeAsync("Sidebar")
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Post")
                </div>
            </div>
        </div>
<!-- Event Details End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe")
<!-- Subscribe End -->
