@model CourseDetails
@{
    ViewData["Title"] = "Details";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/@Model.CoursesOffer.ImageUrl" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.CoursesOffer.SubTitle</h2>
                        <p>@Model.CoursesOffer.Description</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.AboutCourse</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.HowToApply</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p>@Model.Certification</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>@Model.TabName</h3>
                            <ul>
                                <li>starts <span>@Model.Starts</span></li>
                                <li>duration <span>@Model.Duration</span></li>
                                <li>class duration <span>@Model.ClassDuration</span></li>
                                <li>skill level <span>@Model.SkilLevel</span></li>
                                <li>language <span>@Model.Language</span></li>
                                <li>students <span>@Model.StudentsCount</span></li>
                                <li>assesments <span>@Model.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.CourseFee</h3>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Sidebar")
                </div>
            </div>

            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Post")
                </div>
            </div>

        </div>
    </div>
</div>

@await Component.InvokeAsync("Subscribe")
<!-- Blog End -->

