@model Blogdetails
@{
    ViewData["Title"] = "Details";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/img/blog/@Model.Blog.ImageUrl" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Blog.Title </h2>
                        <h6>@Model.Blog.Bywhom  /  @Model.Blog.Date.ToString("dd MM")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Model.Description </p>
                        <p>@Model.SubDescription</p>
                        <p class="quote">@Model.Desc</p>
                        <p>@Model.Subdesc</p>
                    </div>
                    @await Component.InvokeAsync("Sidebar")
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>search</h3>
                        <div class="blog-form">
                            <form asp-controller="Blog" asp-action="Search">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">search</button>
                            </form>
                        </div>
                   
                            @await Component.InvokeAsync("Post")
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Subscribe")
<!-- Subscribe End -->
